# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# RStudio files
.Rproj.user/

# my notes
notes.txt

# swap files
*.swp

# ispell leftovers
*.bak

# we're not uploading the source dataset, or experimental output
UCI HAR Dataset
tidydata_e.txt

# peer files
run_analysis.R.*
